<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    
</body>
</html>
<!-- Header -->
<header class="header">
    <div class="log">AddInn</div>
  
    <nav class="navbar">
      <a routerLink="/dashbordPrincipale">Home</a>
      <a routerLink="/about">About us</a>
      <a routerLink="/service">Services</a>
      <a routerLink="/offre">Offres</a>
      <a routerLink="/stage">Stage</a>
      <a routerLink="/contact">Contact</a>
      <a routerLink="/feedback">Feedback</a>
      <a routerLink="/register">Register</a>
    </nav>
  </header>
  <!-- End Header -->
  <!-- About -->
  <section class="about" id="about">
    <div class="about-img">
      <img src="assets/images/logo.png" alt="About Us">
    </div>
    <div class="about-content">
      <h2 class="heading">A propos <span>Nous</span></h2>
      <p>Chez <span class="add">ADD VALUE BY INNOVATION</span>, nous sommes guidés par des valeurs fondamentales telles que l'innovation, la qualité, et le service client exceptionnel. Nous croyons en l'importance de rester à la pointe de la technologie pour offrir à nos clients des solutions modernes et efficaces.</p>
      <a href="https://addinn-group.com" class="btn">Read More</a>
    </div>
  </section>
   <!-- Footer -->
   <footer class="footer">
    <div class="footer-text">
      <p>©2023 ADDINN Group. Tous droits réservés</p>
    </div>
    <div class="footer-icon">
      <a href="home">
        <i class='bx bx-up-arrow-circle'></i>
      </a>
    </div>
  </footer>
  <!-- End Footer -->