<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    
</body>
</html>
<!-- Header -->
<header class="header">
    <div class="log">AddInn</div>
    <i class='bx bx-menu' id="menu-icon"></i>
    <nav class="navbar">
      <a routerLink="/dashbordPrincipale">Home</a>
      <a routerLink="/about">About us</a>
      <a routerLink="/service">Services</a>
      <a routerLink="/offre">Offres</a>
      <a routerLink="/stage">Stage</a>
      <a routerLink="/contact">Contact</a>
      <a routerLink="/feedback">Feedback</a>
      <a routerLink="/register">Register</a>
    </nav>
  </header>
  <!-- End Header -->
  
  <!-- Home -->
  <section class="home" id="home">
    <div class="home-content">
      <h3>Bienvenus chez</h3>
      <h1>AddInn</h1>
      <h3>C'est une entreprise <span>dynamique</span> novatrice spécialisée dans le domaine de l'informatique.</h3>
      <p>Forts d'une expérience solide et d'une équipe dévouée d'experts, nous nous engageons à fournir des solutions informatiques de pointe et à répondre aux besoins technologiques de nos clients.</p>
      <div class="social-media">
        <a href="https://www.facebook.com/profile.php?id=100065203033150&sk=photos_by"><i class='bx bxl-facebook'></i></a>
        <a href="https://www.youtube.com/@ADDINNGroup"><i class='bx bxl-youtube'></i></a>
        <a href="https://www.bing.com/ck/a?!&&p=c228f7bc37454b94JmltdHM9MTcwNjIyNzIwMCZpZ3VpZD0zMDFmMWZjNS1mMmQ0LTY4MTMtMjJiMi0wZGQ2ZjNhMzY5YzImaW5zaWQ9NTI2MA&ptn=3&ver=2&hsh=3&fclid=301f1fc5-f2d4-6813-22b2-0dd6f3a369c2&psq=addinn+&u=a1aHR0cHM6Ly90bi5saW5rZWRpbi5jb20vY29tcGFueS9hZGRpbm4&ntb=1"><i class='bx bxl-linkedin'></i></a>
      </div>
 
    </div>
    <div class="home-img">
      <img src="assets/images/logo.png" alt="Entreprise d'informatique">
    </div>
  </section>
  
  
  <!-- Footer -->
  <footer class="footer">
    <div class="footer-text">
      <p>©2023 ADDINN Group. Tous droits réservés</p>
    </div>
    <div class="footer-icon">
      <a href="home">
        <i class='bx bx-up-arrow-circle'></i>
      </a>
    </div>
  </footer>
  <!-- End Footer -->