<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="log">AddInn</div>
        <i class='bx bx-menu' id="menu-icon"></i>
        <nav class="navbar">
            <a routerLink="/dashbordPrincipale">Home</a>
            <a routerLink="/about">About us</a>
            <a routerLink="/service">Services</a>
            <a routerLink="/offre">Offres</a>
            <a routerLink="/stage">Stage</a>
            <a routerLink="/contact">Contact</a>
            <a routerLink="/feedback">Feedback</a>
            <a routerLink="/register">Register</a>
        </nav>
    </header>
    <!-- End Header -->

    <!-- Login Section -->
    <section class="form-container">
        <form class="login-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <h1>Log in</h1>
            <input 
                type="text" 
                [(ngModel)]="log.cin" 
                name="cin" 
                placeholder="Your CIN" 
                required>
            <input 
                type="password" 
                [(ngModel)]="log.password" 
                name="password" 
                placeholder="Your Password" 
                required>
            <button type="submit" class="btn">Login</button>
            <p>
                Don't have an account?
                <a routerLink="/register">Register now</a>
            </p>
        </form>
    </section>
    <!-- End Login Section -->

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-text">
            <p>©2023 ADDINN Group. Tous droits réservés</p>
        </div>
        <div class="footer-icon">
            <a routerLink="/dashbordPrincipale">
                <i class='bx bx-up-arrow-circle'></i>
            </a>
        </div>
    </footer>
    <!-- End Footer -->
</body>
</html>