<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="log">AddInn</div>
        <i class='bx bx-menu' id="menu-icon"></i>
        <nav class="navbar">
            <a routerLink="/dashbordPrincipale">Home</a>
            <a routerLink="/about">About us</a>
            <a routerLink="/service">Services</a>
            <a routerLink="/offre">Offres</a>
            <a routerLink="/stage">Stage</a>
            <a routerLink="/contact">Contact</a>
            <a routerLink="/feedback">Feedback</a>
            <a routerLink="/register">Inscripition</a>
        </nav>
    </header>
    <!-- End Header -->

    <!-- Register Section -->
    <!-- register.component.html -->
    <div class="form-container">
        <form (ngSubmit)="onSubmit()" #projectForm="ngForm">
          <h1>Ajouter <span>projet</span></h1>
          <input type="text" name="cin" [(ngModel)]="project.cin" placeholder="CIN" required>
          <input type="text" name="name" [(ngModel)]="project.name" placeholder="Nom complet" required>
          <input type="email" name="email" [(ngModel)]="project.email" placeholder="Email" required>
          <input type="text" name="nprojet" [(ngModel)]="project.nprojet" placeholder="Nom du projet" required>
          <textarea name="description" [(ngModel)]="project.description" placeholder="Description" required></textarea>
          <input type="submit" value="Ajouter projet" class="btn">
          <a routerLink="/demande-projet" class="btn">Demande de stage</a>
        </form>
      </div>
      
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-text">
            <p>©2023 ADDINN Group. Tous droits réservés</p>
        </div>
        <div class="footer-icon">
            <a routerLink="/dashbordPrincipale">
                <i class='bx bx-up-arrow-circle'></i>
            </a>
        </div>
    </footer>
    <!-- End Footer -->
</body>
</html>