<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    
</body>
</html>
<!-- Header -->
<header class="header">
    <div class="log">AddInn</div>
    <i class='bx bx-menu' id="menu-icon"></i>
    <nav class="navbar">
      <a routerLink="/dashbordPrincipale">Home</a>
      <a routerLink="/about">About us</a>
      <a routerLink="/service">Services</a>
      <a routerLink="/offre">Offres</a>
      <a routerLink="/stage">Stage</a>
      <a routerLink="/contact">Contact</a>
      <a routerLink="/feedback">Feedback</a>
      <a routerLink="/register">Register</a>
    </nav>
  </header>
  <!-- End Header -->
<!-- Offre -->
<section class="offre" id="offre">
    <h2 class="heading">Our <span>Offers</span></h2>
    <div class="offre-container">
      <div class="offre-box">
        <img src="assets/images/tran.jpg" alt="Conseil en transformation digitale">
        <div class="offre-tran">
          <h4>Conseil en transformation digitale</h4>
          <p>Nous nous engageons à vous guider à travers chaque phase de votre évolution numérique.</p>
          <a href="https://www.addinn-group.com/conseil-en-transformation-digitale/"><i class='bx bx-error-alt'></i></a>
        </div>
      </div>
      <div class="offre-box">
        <img src="assets/images/web.jpg" alt="Développement IT">
        <div class="offre-tran">
          <h4>Développement IT</h4>
          <p>Ensemble, donnons vie à des solutions informatiques qui propulseront votre entreprise vers de nouveaux sommets.</p>
          <a href="https://www.addinn-group.com/developpement-it/"><i class='bx bx-code-alt'></i></a>
        </div>
      </div>
      <div class="offre-box">
        <img src="assets/images/sol.jpg" alt="Solutions">
        <div class="offre-tran">
          <h4>Solutions</h4>
          <p>Explorez notre éventail de produits digitaux émanant de nos domaines d’expertise afin de catalyser votre transformation.</p>
          <a href="https://www.addinn-group.com/solutions-2/"><i class='bx bx-bulb'></i></a>
        </div>
      </div>
    </div>
  </section>
   <!-- Footer -->
   <footer class="footer">
    <div class="footer-text">
      <p>©2023 ADDINN Group. Tous droits réservés</p>
    </div>
    <div class="footer-icon">
      <a href="home">
        <i class='bx bx-up-arrow-circle'></i>
      </a>
    </div>
  </footer>
  <!-- End Footer -->