<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="log">AddInn</div>
        
        <nav class="navbar">
            <a routerLink="/dashbordPrincipale">Home</a>
            <a routerLink="/about">About us</a>
            <a routerLink="/service">Services</a>
            <a routerLink="/offre">Offres</a>
            <a routerLink="/stage">Stage</a>
            <a routerLink="/contact">Contact</a>
            <a routerLink="/feedback">Feedback</a>
            <a routerLink="/login">Log in</a>
        </nav>
    </header>
    <!-- End Header -->

    
    <!-- Register Section -->
<section class="form-container">
    <main>
        <h1>Inscrivez-vous <span>maintenant</span></h1>
        <div class="register-section">
            <img src="assets/images/signup.avif" alt="" class="register-image">
            <form class="register-form" (ngSubmit)="onSubmit()" #registerForm="ngForm" enctype="multipart/form-data">
                <input type="text" name="cin" id="cin" placeholder="CIN" [(ngModel)]="user.cin" required>
                <input type="text" name="name" id="name" placeholder="Full Name" [(ngModel)]="user.name" required>
                <input type="email" name="email" id="email" placeholder="Votre Email" [(ngModel)]="user.email" required>
                <input type="password" name="password" id="password" placeholder="Votre Password" [(ngModel)]="user.password" required>
                <input type="password" name="cpassword" id="cpassword" placeholder="Confirm Password" [(ngModel)]="user.cpassword" required>
                <input type="file" name="image" id="image" placeholder="Votre Image" (change)="onFileChange($event)" required>
                <input type="submit" value="Register" name="submit-btn" class="btn">
                <p>Vous avez déjà un compte ? <a routerLink="/login">Connectez-vous maintenant</a></p>
            </form>
        </div>
    </main>
</section>


    <!-- Footer -->
    <footer class="footer">
        <div class="footer-text">
            <p>©2023 ADDINN Group. Tous droits réservés</p>
        </div>
        <div class="footer-icon">
            <a routerLink="/dashbordPrincipale">
                <i class='bx bx-up-arrow-circle'></i>
            </a>
        </div>
    </footer>
    <!-- End Footer -->
</body>
</html>
